<dx-tree-view
	#treeView
	[dataSource]="dataSource"
	itemsExpr="Items"
	selectionMode="single"
	selectedExpr="IsSelected"
	expandedExpr="IsExpanded"
	showCheckBoxesMode="none"
	(onItemSelectionChanged)="selectedChanged($event)"
	selectByClick="true"
>
	<div *dxTemplate="let data of 'item'">
		<span
			[ngClass]="{ 'unsaved': !(data.Name && data.Id), 'inactive': data.IsActive===false, 'selected': data.IsSelected }"
		>
			{{data.Name || 'New record'}} {{data.Id?'':'(not saved)'}}
			{{data.IsActive===false? '(inactive)':''}}
		</span>
	</div>
</dx-tree-view>
