<div class="row">
	<div class="col-md-3">
		<div class="skill-tree">
			<dx-toolbar>
				<dxi-item
					location="before"
					widget="dxButton"
					[options]="addButtonOptions"
				>
				</dxi-item>
				<dxi-item
					location="before"
					widget="dxButton"
					locateInMenu="auto"
					[options]="refreshButtonOptions"
				>
				</dxi-item>
				<dxi-item
					location="before"
					widget="dxButton"
					locateInMenu="auto"
					[options]="saveButtonOptions"
					*ngIf="Selected"
				>
				</dxi-item>
			</dx-toolbar>
			<kai-selectable-tree-view
				[dataSource]="dataSource"
				[(selected)]="Selected"
			></kai-selectable-tree-view>
		</div>
	</div>
	<div class="col-md-9">
		<router-outlet></router-outlet>
	</div>
</div>
