<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="github" value="https://nuget.pkg.github.com/Fildrance/index.json" />
  </packageSources>
   <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="github">
      <package pattern="Enterprise.ApplicationBootstrap.*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="%GITHUB_PACKAGE_USER_NAME%" />
            <add key="ClearTextPassword" value="%GITHUB_PACKAGE_TOKEN%" />
        </github>
    </packageSourceCredentials>
</configuration>