<app-single-card>
  <div class="form">
    <div class="dx-fieldset">
      <div class="dx-field">
        <div class="dx-field-label">Name</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="contract.Name"></dx-text-box>
        </div>
      </div>
      <div class="dx-field">
        <div class="dx-field-label">ShortDescription</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="contract.ShortDescription"></dx-text-box>
        </div>
      </div>
    </div>
    <div class="dx-fieldset">
      <div class="dx-fieldset-header">Actions</div>

      <div class="dx-field">
        <dx-button stylingMode="contained" text="save" type="normal" [width]="120" (onClick)="save()">
        </dx-button>
      </div>

      <div class="dx-field" *ngIf="Id>0">
        <div class="dx-field-label">Saved record Id</div>
        <div class="dx-field-value">
          <dx-text-box [(value)]="Id"></dx-text-box>
        </div>
      </div>

    </div>
  </div>
</app-single-card>