
<dx-html-editor
	*ngFor="let item of Comments"
	[(value)]="item.CommentText"
>
	<dxo-toolbar>

		<dxi-item><b>{{item.DisplayName}}</b></dxi-item>
		<dxi-item><i>{{item.On | date:'yyyy/MM/dd HH:mm'}}</i></dxi-item>
		<dxi-item *ngIf="!isExistEditComment && item.AuthorId === currentUserId">

			<dx-button
				icon="trash"
				(onClick)="deleteCommentStart(item)"
			></dx-button>

			<dx-popup
				[width]="450"
				[height]="180"
				[dragEnabled]="false"
				[hideOnOutsideClick]="true"
				[(visible)]="isPopupVisible"
				[showCloseButton]="false"
				[showTitle]="false"
			>
				<div>
					<div>
						<h5>Please confirm comment deletion</h5>

						<dx-button
							icon="todo"
							text="Delete"
							(onClick)="deleteComment()"
							type="Error"
						></dx-button>

						<dx-button
							icon="close"
							text="Cancel"
							(onClick)="deleteUndo()"
						></dx-button>
					</div>
				</div>
			</dx-popup>
		</dxi-item>

		<dxi-item *ngIf="!isExistEditComment && item.AuthorId === currentUserId">
			<dx-button
				(click)="markForUpdate(item)"
				icon="edit"
			></dx-button>
		</dxi-item>
	</dxo-toolbar>
</dx-html-editor>

<div class="new-comment-block">

	<h4>Add new comment</h4>

	<dx-html-editor [(value)]="editorValue">
		<dxo-toolbar>
			<dxi-item>
				<dx-button
					(click)="addComment()"
					icon="add"
					text="Add"
				></dx-button>
			</dxi-item>

			<dxi-item name="separator"></dxi-item>

			<dxi-item name="undo"></dxi-item>
			<dxi-item name="redo"></dxi-item>
			<dxi-item name="separator"></dxi-item>

			<dxi-item name="bold"></dxi-item>
			<dxi-item name="italic"></dxi-item>
			<dxi-item name="strike"></dxi-item>
			<dxi-item name="underline"></dxi-item>
			<dxi-item name="separator"></dxi-item>

			<dxi-item name="orderedList"></dxi-item>
			<dxi-item name="bulletList"></dxi-item>
			<dxi-item name="separator"></dxi-item>

			<dxi-item name="color"></dxi-item>
			<dxi-item name="background"></dxi-item>
			<dxi-item name="separator"></dxi-item>

			<dxi-item name="link"></dxi-item>
			<dxi-item name="image"></dxi-item>
			<dxi-item name="separator"></dxi-item>

			<dxi-item name="clear"></dxi-item>
			<dxi-item name="codeBlock"></dxi-item>
			<dxi-item name="blockquote"></dxi-item>

		</dxo-toolbar>
	</dx-html-editor>
</div>
<dx-popup
	[width]="1300"
	[height]="700"
	[showTitle]="true"
	title="Edit"
	[(visible)]="editPopupVisible"
	[hideOnOutsideClick]="false"
	[showCloseButton]="false"
>
	<div *dxTemplate="let data of 'content'">
		<dx-scroll-view>
			<dx-html-editor [(value)]="itemUnderEdit.CommentText">
				<dxo-toolbar>
					<dxi-item><b>{{itemUnderEdit.DisplayName}}</b></dxi-item>
					<dxi-item><i>{{itemUnderEdit.On | date:'yyyy/MM/dd HH:mm'}}</i></dxi-item>
					<dxi-item name="separator"></dxi-item>
					<dxi-item name="undo"></dxi-item>
					<dxi-item name="redo"></dxi-item>
					<dxi-item name="separator"></dxi-item>

					<dxi-item name="bold"></dxi-item>
					<dxi-item name="italic"></dxi-item>
					<dxi-item name="strike"></dxi-item>
					<dxi-item name="underline"></dxi-item>
					<dxi-item name="separator"></dxi-item>

					<dxi-item name="orderedList"></dxi-item>
					<dxi-item name="bulletList"></dxi-item>
					<dxi-item name="separator"></dxi-item>

					<dxi-item name="color"></dxi-item>
					<dxi-item name="background"></dxi-item>
					<dxi-item name="separator"></dxi-item>

					<dxi-item name="link"></dxi-item>
					<dxi-item name="image"></dxi-item>
					<dxi-item name="separator"></dxi-item>

					<dxi-item name="clear"></dxi-item>
					<dxi-item name="codeBlock"></dxi-item>
					<dxi-item name="blockquote"></dxi-item>
				</dxo-toolbar>
			</dx-html-editor>
			<div class="pull-right">
				<dx-button
					icon="todo"
					text="Apply"
					style="margin-right: 10px;"
					(onClick)="updateComment(itemUnderEdit)"
				></dx-button>
				<dx-button
					icon="close"
					text="Cancel"
					(onClick)="cancelEdit(itemUnderEdit)"
				></dx-button>
			</div>
		</dx-scroll-view>
	</div>
</dx-popup>
