<ng-container *ngIf="data">
	<h2 class="skill-header">{{selectedNode.Parent.Parent.Name}} => {{selectedNode.Parent.Name}} => {{data.Name}} {{data.IsActive?'':'(Не активно)'}}</h2>
	<fieldset>
		<legend class="heading-line">
			<b>General information</b>
		</legend>
		<div class="dx-fieldset col-md-6">
			<div class="dx-field">
				<div class="dx-field-label">Skill level name</div>
				<dx-text-box
					[(value)]="data.Name"
					placeholder="Enter name for skill level"
					[disabled]="!canEdit"
					valueChangeEvent="keyup"
				>
				</dx-text-box>
			</div>
		</div>
		<div class="dx-fieldset col-md-6">
			<div class="dx-field">
				<div class="dx-field-label">Weight</div>
				<dx-slider
					[(value)]='data.Weight'
					[disabled]='!canEdit'
					max="100"
				>
					<dxo-tooltip
						[enabled]="true"
						showMode="always"
					></dxo-tooltip>
				</dx-slider>
			</div>
		</div>
		<div class="dx-fieldset col-md-12">
			<div class="dx-field">
				<div class="dx-field-label">Short description</div>
				<dx-text-area
					class="dx-field-value"
					[(value)]="data.ShortDescription"
					[disabled]="!canEdit"
					placeholder="Enter skill level short description"
					autoResizeEnabled="true"
				>
				</dx-text-area>
			</div>
		</div>
		<div class="dx-fieldset col-md-12">
			<div class="dx-field">
				<div class="dx-field-label">Full skill level description and reference materials.</div>
				<dx-html-editor
					[(value)]="data.Description"
					[readOnly]="!this.canEdit"
				>
					<dxo-toolbar>
						<dxi-item name="separator"></dxi-item>

						<dxi-item name="undo"></dxi-item>
						<dxi-item name="redo"></dxi-item>
						<dxi-item name="separator"></dxi-item>

						<dxi-item name="bold"></dxi-item>
						<dxi-item name="italic"></dxi-item>
						<dxi-item name="strike"></dxi-item>
						<dxi-item name="underline"></dxi-item>
						<dxi-item name="separator"></dxi-item>

						<dxi-item name="orderedList"></dxi-item>
						<dxi-item name="bulletList"></dxi-item>
						<dxi-item name="separator"></dxi-item>

						<dxi-item name="color"></dxi-item>
						<dxi-item name="background"></dxi-item>
						<dxi-item name="separator"></dxi-item>

						<dxi-item name="link"></dxi-item>
						<dxi-item name="image"></dxi-item>
						<dxi-item name="separator"></dxi-item>

						<dxi-item name="clear"></dxi-item>
						<dxi-item name="codeBlock"></dxi-item>
						<dxi-item name="blockquote"></dxi-item>

					</dxo-toolbar>
				</dx-html-editor>

			</div>
		</div>

		<div
			class="dx-fieldset col-md-12"
			*ngIf="data.Id"
		>
			<div class="dx-field">
				<div class="dx-field-label">Prerequisite</div>
				<br />
				<div *ngFor="let prerequisite of data.Prerequisites">
					<div class="m-grid">
						<div class="m-grid-row">
							<div class="m-grid-col m-grid-col-md-9 m-grid-col-left">
								{{prerequisite.Name}}
							</div>
							<div class="m-grid-col m-grid-col-md-3 m-grid-col-right">
								<button
									class="btn btn-primary"
									(click)="removePrerequisite(prerequisite)"
								>
									<i class="fa fa-trash"></i> Delete
								</button>
							</div>
						</div>
					</div>
				</div>
				<br />
				<dx-select-box
					class="dx-field-value"
					valueExpr='Id'
					displayExpr='Name'
					[dataSource]="skillsLevelsDataSource"
					[searchEnabled]="true"
				>
				</dx-select-box>
			</div>
		</div>
	</fieldset>

	<div
		class="dx-fieldset col-md-12"
		*ngIf="data.Id"
	>
		<kai-comments
			[subjectKey]="data.Id"
			subjectType="skill-level"
		></kai-comments>
	</div>
</ng-container>
