<ng-container *ngIf="data">
	<h5>Skill category {{data.Name}} {{data.IsActive?'':'(inactive)'}}</h5>
	<fieldset>
		<legend class="heading-line">
			<b>General info</b>
		</legend>
		<div class="dx-fieldset col-md-6">
			<div class="dx-field">
				<div class="dx-field-label">Skill category name</div>
				<dx-text-box
					[(value)]="data.Name"
					placeholder="Enter name of category"
					[disabled]="!canEdit"
					valueChangeEvent="keyup"
				>
				</dx-text-box>
			</div>
		</div>
		<div class="dx-fieldset col-md-12">
			<div class="dx-field">
				<div class="dx-field-label">Short decription</div>
				<dx-text-area
					[(value)]="data.ShortDescription"
					[disabled]="!canEdit"
					placeholder="Enter short description of category"
					autoResizeEnabled="true"
				>
				</dx-text-area>
			</div>
		</div>
	</fieldset>

	<div
		class="dx-fieldset col-md-12"
		*ngIf="data.Id"
	>
		<kai-comments
			[subjectKey]="data.Id"
			subjectType="skill-category"
		></kai-comments>
	</div>

</ng-container>
